<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\introduccion_css\css\estilo.css">
    <title>Estilo 1</title>
    <style>
        body{
            background-color: #C0C0C0;
        
        }
        h1{
            color: #2F4F4F;
            text-align: center;
            font-size: 30px;
            border: black 2px solid;
            background: -webkit-linear-gradient(red, beige);
        }

        p{color: #2F4F4F;
        text-align: justify;
        font-size: 20px;
        }
        
    </style>
</head>
<body>
    
    <h1>
        Mi primer Ejemplo
    </h1>

    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repellat exercitationem corrupti modi ipsa non blanditiis, eum accusamus eius, sequi ex! Delectus in consequuntur unde doloribus minima quidem, temporibus ratione.
    <p>
</body>
</html>