<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\introduccion_css\css\selectorespe.css">
    <title>Selectores Pseudo Elementos</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, nesciunt rem. Numquam et voluptatibus accusamus dicta perspiciatis, eum molestias voluptate quae, modi non neque necessitatibus consectetur consequuntur ducimus. Nihil, dolor.</p>
</body>
</html>