<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\introduccion_css\css\selectores.css">
    <title>Selectores Medidas</title>
    <style>

    div{
    height: 200px;
    width: 50%;
    background-color: red;
    }

    div.blue{
    background-color: blue;
    height: 100px;
    width: 50%;
    }

    p{
        text-align: justify;
        font-size: 20px;
       
    }
    </style>
</head>
<body>

    <p> Lorem ipsum dolor sit amet consectetur, !</p>

    <div>
        <div class="blue"></div>
    </div>

  


</body>
</html>