<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\introduccion_css\css\selectoress.css">
    <title>Selectores Simples</title>
</head>
<body>
    <h1>Encabezado 1</h1>
    <h2>Encabezado 2</h2>
    <p>Por Nombre</p>
    <P id="id_p">Por Id</P>
    <P class="class-p">Por Clase</P>
    <P class="red">Por Nombre y Clase</P>
    <P class="brows large">Tiene Dos Clases</P>


</body>
</html>